import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()],
  server: {
    host: true,
    allowedHosts: ['seu.dominio.com'],
    proxy: {
      '/api': {
        target: 'http://192.168.1.xx:8000',
        changeOrigin: true,
        secure: false,
      },
      '/uploads': {
        target: 'http://192.168.1.xx:8000',
        changeOrigin: true,
        secure: false,
      },
    },
  },
})
